/* Body and HTML of the website */
html, body { 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    animation: backgroundColorChange 40s infinite;
    scroll-behavior: smooth; /* Make navigation scroll smoothly instead of jumping*/
}
* {
    -webkit-overflow-scrolling: touch;
}
@keyframes backgroundColorChange {
    0% { background-color: rgb(255, 169, 169); }
    10% { background-color: rgb(250, 228, 193); }
    20% { background-color:  rgb(245, 255, 183); }
    30% { background-color:  rgb(184, 255, 194);}
    40% { background-color: rgb(196, 244, 252); }
    50% { background-color: rgb(190, 207, 255); }
    60% { background-color:  rgb(184, 173, 255); }
    70% { background-color:  rgb(211, 185, 253);}
    80% { background-color: rgb(248, 198, 255); }
    90% { background-color: rgb(252, 188, 226); }
    100% { background-color: rgb(255, 169, 169); }
}
@keyframes textColorChange {
    0% { color: white; }
    10% { color: rgb(196, 0, 0); }
    20% { color: rgb(192, 119, 1); }
    30% { color:  rgb(181, 209, 0); }
    40% { color:  rgb(2, 190, 27); }
    50% { color: rgb(2, 169, 199); }
    60% { color: rgb(0, 51, 190); }
    70% { color:  rgb(28, 2, 196); }
    80% { color:  rgb(74, 0, 192);}
    90% { color: rgb(149, 0, 168); }
    100% { color: rgb(196, 0, 0); }
}
/* Preloader for website, code below is based around spinkit website */
.preloader-message {
    color: white;
    font-size: 22px;
    padding-bottom: 20px;
    opacity: 0;
}
body > .inner { /* hide the loading screen */ 
    display: none;
}
body.pg-loaded > .inner { /* show the loading screen */ 
    display: block;
}
.sk-cube-grid {
    width: 60px;
    height: 60px;
    margin: 100px auto;
}
.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: white;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; 
}
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; 
}
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; 
}
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; 
}
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; 
}
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; 
}
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; 
}
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; 
}
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; 
}
@-webkit-keyframes sk-cubeGridScaleDelay {
0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1); 
    }
}
@keyframes sk-cubeGridScaleDelay {
0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1);
    } 
}
/*****  PRELOADER "PLEASE-WAIT" CSS MINIFIED *****/
body.pg-loading{overflow:hidden}.pg-loading-screen{position:fixed;bottom:0;left:0;right:0;top:0;z-index:1000000;opacity:1;background-color:#fff;-webkit-transition:background-color .4s ease-in-out 0s;-moz-transition:background-color .4s ease-in-out 0s;-ms-transition:background-color .4s ease-in-out 0s;-o-transition:background-color .4s ease-in-out 0s;transition:background-color .4s ease-in-out 0s}.pg-loading-screen.pg-loaded{opacity:0;-webkit-animation:pgAnimLoaded .5s cubic-bezier(.7,0,.3,1) both;-moz-animation:pgAnimLoaded .5s cubic-bezier(.7,0,.3,1) both;-ms-animation:pgAnimLoaded .5s cubic-bezier(.7,0,.3,1) both;-o-animation:pgAnimLoaded .5s cubic-bezier(.7,0,.3,1) both;animation:pgAnimLoaded .5s cubic-bezier(.7,0,.3,1) both}.pg-loading-screen.pg-loading .pg-loading-html,.pg-loading-screen.pg-loading .pg-loading-logo-header{opacity:1}.pg-loading-screen.pg-loading .pg-loading-html:not(.pg-loaded),.pg-loading-screen.pg-loading .pg-loading-logo-header{-webkit-animation:pgAnimLoading 1s cubic-bezier(.7,0,.3,1) both;-moz-animation:pgAnimLoading 1s cubic-bezier(.7,0,.3,1) both;-ms-animation:pgAnimLoading 1s cubic-bezier(.7,0,.3,1) both;-o-animation:pgAnimLoading 1s cubic-bezier(.7,0,.3,1) both;animation:pgAnimLoading 1s cubic-bezier(.7,0,.3,1) both}.pg-loading-screen.pg-loading .pg-loading-html:not(.pg-loaded){-webkit-animation-delay:.3s;-moz-animation-delay:.3s;-ms-animation-delay:.3s;-o-animation-delay:.3s;animation-delay:.3s}.pg-loading-screen .pg-loading-inner{height:100%;width:100%;margin:0;padding:0;position:static}.pg-loading-screen .pg-loading-center-outer{width:100%;padding:0;display:table!important;height:100%;position:absolute;top:0;left:0;margin:0}.pg-loading-screen .pg-loading-center-middle{padding:0;vertical-align:middle;display:table-cell!important;margin:0;text-align:center}.pg-loading-screen .pg-loading-html,.pg-loading-screen .pg-loading-logo-header{width:100%;opacity:0}.pg-loading-screen .pg-loading-logo-header{text-align:center}.pg-loading-screen .pg-loading-logo-header img{display:inline-block!important}.pg-loading-screen .pg-loading-html{margin-top:90px}.pg-loading-screen .pg-loading-html.pg-loaded{-webkit-transition:opacity .5s cubic-bezier(.7,0,.3,1);-moz-transition:opacity .5s cubic-bezier(.7,0,.3,1);-ms-transition:opacity .5s cubic-bezier(.7,0,.3,1);-o-transition:opacity .5s cubic-bezier(.7,0,.3,1);transition:opacity .5s cubic-bezier(.7,0,.3,1)}.pg-loading-screen .pg-loading-html.pg-loaded.pg-removing{opacity:0}.pg-loading-screen .pg-loading-html.pg-loaded.pg-loading{opacity:1}@-webkit-keyframes pgAnimLoading{from{opacity:0}}@-moz-keyframes pgAnimLoading{from{opacity:0}}@-o-keyframes pgAnimLoading{from{opacity:0}}@-ms-keyframes pgAnimLoading{from{opacity:0}}@keyframes pgAnimLoading{from{opacity:0}}@-webkit-keyframes pgAnimLoaded{from{opacity:1}}@-moz-keyframes pgAnimLoaded{from{opacity:1}}@-o-keyframes pgAnimLoaded{from{opacity:1}}@-ms-keyframes pgAnimLoaded{from{opacity:1}}@keyframes pgAnimLoaded{from{opacity:1}}

/* Navigation Menu when shrunk */
.menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    /* display: none; */
}
.menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 50px;
    height: 50px;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Hamburger Lines*/
.menu-wrap .hamburger > div {
    position: absolute;
    width: 35px;
    height: 4px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    z-index: 200;
}
/* Style for top and bottom lines (of the 3 lines) */
.menu-wrap .hamburger > div:before, 
.menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 200;
    top: -10px;
    width: 35px;
    height: 4px;
    background: inherit;
}
/* Moves one line down */
.menu-wrap .hamburger > div:after {
    top: 10px;
}
/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}
/* Turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}
/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}
.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu > div {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.5s ease;
}
.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}
/* Show menu when clicked */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.5s;
}
.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.5s ease;
}
.menu-wrap .menu > div > div > ul > li > a:hover {
    color: white;
    font-size: 115%;
    text-shadow: 0 0 30px black;
    transition: 0.5s all ease;
    animation: textColorChange 40s infinite;
}
/* Normal navigation bar (not shrunk) */
.nav-bar ul {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    margin: 0;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    width: auto;
    margin-top: auto;
    z-index: 100;
}
.nav-bar ul li {
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar ul li:last-child {
    border-right: none;
}
.nav-bar ul li a {
    text-decoration: none;
    padding: 10px 30px;
    display: block;
}
.nav-bar ul li a .icon {
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 10px;
}
.nav-bar ul li a .icon .fa {
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    transition: all 0.5s ease;
    color: white;
}
.nav-bar ul li a:hover .icon .fa {
    transform: translateY(-100%);
}
.nav-bar ul li a .icon .fa:last-child {
    color: black;
}
.nav-bar ul li a .name {
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
}
.nav-bar ul li a .name span {
    display: block;
    position: relative;
    color: white;
    font-size: 18px;
    line-height: 20px;
    transition: 0.5s all ease;
}
.nav-bar ul li a .name span:before {
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
}
.nav-bar ul li a:hover .name span {
    transform: translateY(20px);
}
/* Sidebar icons */
.sidebar ul {
    position: fixed;
    bottom: 0;
    z-index: 200;
}
.sidebar ul li {
    list-style: none;
    padding-bottom: 40px;
}
.sidebar ul li i {
    font-size: 24px;
    color: white;
    text-shadow: 0 0 15px black;
    transition: 0.5s all ease;
}
.sidebar ul li i:hover {
    font-size: 28px;
}
.sidebar .fa-file:hover {
    color: gray;
}
.sidebar .fa-mobile-alt:hover {
    color: rgb(5, 252, 5);
}
.sidebar .fa-envelope:hover {
    color: rgb(252, 45, 45);
}
.sidebar .fa-linkedin:hover {
    color: #0077B5;
}
.sidebar .fa-github:hover {
    color: black;
}
.sidebar .fa-facebook-square:hover {
    color: #3b5998;
}
.sidebar .fa-music:hover {
    color: rgb(143, 89, 29);
}
.spotify {
    text-align: center;
    z-index: 101;
    position: fixed;
    width: 50%;
    height: 50vh;
    display: none;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
/* Image of logo on page */
.header-logo {
    right: 0;
    bottom: 0;
    position: absolute;
}

/* Home Page */
.home-pg {
    position: relative;
    height: 100vh;
    width: 100%;
}
.home-pg .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background: rgba(0, 0, 0, 0.1);
}
.home-pg .container h2 {
    
    color: white;
    text-shadow: 0px 10px 30px black;
    text-align: center;
    font-size: 3em;
}

#particles-js {
    position: absolute;
    height: 500vh;
    width: 100%;
}
/* About Page */
.about-pg {
    position: relative;
    width: 100%;
    height: 100vh;
}
.about-container { /* Slider for About Page */
    height: 90vh;
    width: 90%;
    z-index: 1;
    position: absolute;
    left: 5%;
    bottom: 5%;
    border-radius: 10px;
}
.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}
.gallery-top {
    height: 80%;
    width: 100%;
}
.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0px;
}
.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}
.swiper-slide h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-top: 2.5%;
}
.swiper-slide h2 {
    font-size: 2em;
    font-weight: 500;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
}
.swiper-slide h3 {
    font-size: 1.75em;
    font-weight: 400;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
}
.about-text-gallery-thumbs-text {
    height: 90px;
    line-height: 90px;
}
.experience-pg { /* Experience Page */
    position: relative;
    width: 100%;
    height: 100vh;
}
.exp-container {
    height: 90vh;
    width: 90%;
    z-index: 1;
    position: absolute;
    left: 5%;
    bottom: 5%;
    border-radius: 10px;
}
.exp-container h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 700;
    text-shadow: 0px 10px 30px black;
}
.exp-title {
    width: 100%;
    position: absolute;
    z-index: 10;
    text-shadow: 0px 5px 10px black;
    text-align: center;
}
.experience-pg ul {
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background: transparent;
    margin: 0;
    padding: 0;
}
.experience-pg ul li {
    list-style: none;
    position: relative;
    width: 33.3%;
    height: 100%;
    border-right: 1px solid #000;
    float: left;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    overflow: hidden;
    background-position: left;
}
.experience-pg ul li:nth-child(1) {
    background: url(/imgs/spotme-pic.jpg);
    background-size: cover;
}
.experience-pg ul li:nth-child(2) {
    background: url(/imgs/via-tech-pic.jpg);
    background-size: cover;
}
.experience-pg ul li:nth-child(3) {
    background: url(/imgs/concrete-shells-img.png);
    background-size: cover;
}
.experience-pg ul:hover li {
    width: 20%;
}
.experience-pg ul li:hover {
    width: 60%;
}
.experience-pg ul li .content {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    color: #fff;
    opacity: 0;
}
.experience-pg ul li .content h2 {
    font-size: 2em;
    font-weight: 600;
}
.experience-pg ul li .content p {
    text-align: left;
    padding: 10px;
    font-size: 16px;
}
.experience-pg ul li:nth-child(1) .content {
    bottom: -100%;
}
.experience-pg ul li:nth-child(2) .content {
    bottom: 100%;
}
.experience-pg ul li:nth-child(3) .content {
    left: -100%;
    bottom: 0;
}
.experience-pg ul li:hover .content {
    bottom: 0;
    left: 0;
    transition: 0.5s;
    transition-delay: 0.25s;
    opacity: 1;
}
.exp-btn-container {
    padding-bottom: 15px;
}
.exp-btn {
    background-color: transparent;
    border: 1px solid white;
    color: #fff;
    text-shadow: 0px 10px 30px black;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 500;
    padding: 5px;
    text-decoration: none;
}
.exp-btn:hover {
    box-shadow: 0px 10px 50px white;
    color: black;
    background-color: white;
    text-decoration: none;
}
.projects-pg { /* Projects Page */
    position: relative;
    width: 100%;
    height: 100vh;
}
.swiper-proj-container {
    width: 90%;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: absolute;
    left: 5%;
    bottom: 5%;
    border-radius: 10px;
    text-shadow: 0px 10px 30px black;
    overflow: hidden;
}
.swiper-proj-container .swiper-proj-slide .swiper-slide-active{
    width: 800px !important;
}
.swiper-proj-container h2 {
    text-align: center;
}
.swiper-proj-container h3 {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.proj-code {
    position: absolute;
    bottom: 10%;
    color: white;
    font-size: 2em;
    text-shadow: 0px 10px 30px black;
}
.proj-code:hover {
    color: black;
    transition: 0.5s ease-in-out;
    font-size: 2.25em;
    text-shadow: 0px 10px 30px white;
}
#projects-card-1 {
    background: rgba(0, 0, 0, 0.35);
}
#projects-card-2 {
    background: url(/imgs/sudoku-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#projects-card-3 {
    background: url(/imgs/captcha-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#projects-card-4 {
    background: url(/imgs/spellcheck-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#projects-card-5 {
    background: url(/imgs/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#projects-card-6 {
    background: url(/imgs/dropbox.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#projects-card-7 {
    background: url(/imgs/celebrity.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contact-pg { /* Contact Page */
    position: relative;
    width: 100%;
    height: 100vh;
}
.contact-pg .footer {
    height: 90vh;
    width: 90%;
    background-color: black;
    background: url(../imgs/footbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    left: 5%;
    bottom: 5%;
    border-radius: 10px;
}
.contact-pg .footer .contact-msg {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.contact-pg .footer .contact-msg h2 {
    font-size: 2.5em;
    font-weight: 700;
}
.contact-pg .footer .contact-msg h3 {
    font-size: 2em;
    font-weight: 500;
}

.input { /* Seperate contact form inputs */
    margin-bottom: 2.5%;
    background: transparent;
    box-shadow: 0 1px 10px white;
}
input {
    font-weight: 700;
    font-size:1.3em;
    color:white;
    width:90%;
    height:55px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    padding-left: 10px;
}
textarea{
    font-weight:700;
    font-size:1.3em;
    color:white;
    height:225px;
    width:90%;
    border:none;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    display: block;
}
::placeholder {
    color: white;
    font-weight: 700;
    padding-left: 10px;
    font-size: 1.3em;
}
.input:focus { /* Clicked on contact form input */
    background-color: rgba(0, 0, 0, 0.5);
}
.submit-btn {
    background: transparent;
    border: 1px solid white;
    font-size: 1.5em;
    margin-bottom: 10px;
    border-radius: 5px;
}
.submit-btn:hover {
    box-shadow: 0px 0px 30px;
    background-color: rgba(255, 255, 255, 0.2);
}
/* Navigate to top button */
#section-up-btn {
    position: absolute;
    bottom: 115px;
    right: 5px;
    font-size: 65px;
    text-align: center;
    width: 50px;
    height: 50px;
    color: white;
    background: none;
    text-shadow: 1px 1px 30px #000;
    border: none;
    animation: bounce-blink 2s infinite;
    transition: 1.5s smooth;
    z-index: 9;
}
/* Navigate down one page button */
#home-section-down-btn {
    position: absolute;
    bottom: 15%;
    right: 50%;
    font-size: 80px;
    text-align: center;
    width: 0px;
    height: 0px;
    color: white;
    background: none;
    text-shadow: 1px 1px 30px #000;
    border: none;
    animation: bounce-blink 2s infinite;
    transition: 1.5s smooth;
    z-index: 9;
}
#section-down-btn {
    position: absolute;
    bottom: 90px;
    right: 5px;
    font-size: 65px;
    text-align: center;
    width: 50px;
    height: 50px;
    color: white;
    background: none;
    text-shadow: 1px 1px 30px #000;
    border: none;
    animation: bounce-down-blink 2s infinite;
    transition: 1.5s smooth;
    z-index: 9;
}
@keyframes bounce-blink { /* Bouncing and blinking animation for navigation to top button */
    0% { color: rgba(255, 255, 255, .7); }
    10% { color: rgba(255, 255, 255, .8); margin-bottom: 10px;}
    20% { color: rgba(255, 255, 255, .9); margin-bottom: 15px;}
    30% { color: rgba(255, 255, 255, 1); }
    40% { color: rgba(255, 255, 255, 1); margin-bottom: 20px;}
    50% { color: rgba(255, 255, 255, 1); }
    60% {  color: rgba(255, 255, 255, 1); margin-bottom: 15px;}
    70% {  color: rgba(255, 255, 255, .9); margin-bottom: 10px;}
    80% { color: rgba(255, 255, 255, .8); }
    90% { color: rgba(255, 255, 255, .7); }
}
@keyframes bounce-down-blink { /* Bouncing and blinking animation for navigation to top button */
    0% { color: rgba(255, 255, 255, .7); }
    10% { color: rgba(255, 255, 255, .8); padding-top: 10px;}
    20% { color: rgba(255, 255, 255, .9); padding-top: 15px;}
    30% { color: rgba(255, 255, 255, 1); }
    40% { color: rgba(255, 255, 255, 1); padding-top: 20px;}
    50% { color: rgba(255, 255, 255, 1); }
    60% {  color: rgba(255, 255, 255, 1); padding-top: 15px;}
    70% {  color: rgba(255, 255, 255, .9); padding-top: 10px;}
    80% { color: rgba(255, 255, 255, .8); }
    90% { color: rgba(255, 255, 255, .7); }
}
/* Media Queries */
@media only screen and (max-width: 765px) {
    .spotify {
        width: 65%;
        height: 65vh;
    }
    .menu-wrap { /* Display shrunk nav */
        display: initial;
    }
    .nav-bar ul { /* Hide main nav */
        display: none;
    }
    .header-logo { /* Hide logo */
        display: none;
    }
    .home-pg .container h2 {
        font-size: 1.5em;
    }
    .sidebar ul li i {
        font-size: 20px;
    }
    .home-pg .container {
        width: 55%;
    }
    .menu-wrap .menu > div > div > ul > li {
        font-size: 1.25rem;
    }
    /* Contact Page */
    .contact-pg .footer .contact-msg {
        width: 68%;
    }
    .contact-pg .footer .contact-msg {
        padding-top: 25%;
    }
    textarea{
        height:155px;
    }
    /* Navigate button */
    #section-up-btn, #section-down-btn, #home-section-down-btn {
        display: none;
    }
    
}
@media only screen and (max-width: 1400px) {
    /* About Page */
    .about-container {
        height: 96vh;
        width: 96%;
        left: 2%;
        bottom: 2%;
    }
    .swiper-slide h1 {
        font-size: 1.25em;
    }
    .swiper-slide h2 {
        font-size: 1em;
        padding-left: 17.5%;
        padding-right: 17.5%;
    }
    .swiper-slide h3 {
        font-size: 0.8em;
        padding-left: 17.5%;
        padding-right: 17.5%;
    }
    /* Experience Page */
    .experience-pg ul li .content h1 {
        font-size: 22px;
    }
    .experience-pg ul li .content h2 {
        font-size: 18px;
    }
    .experience-pg ul li .content p {
        font-size: 12px;
    }
    .exp-title {
        font-size: 1.5em !important;
    }
    /* Contact Page */
    .contact-pg .footer {
        height: 96vh;
        width: 96%;
        left: 2%;
        bottom: 2%;
    }
    .contact-pg .footer .contact-msg {
        padding-top: 10%;
    }
    .contact-pg .footer .contact-msg h2 {
        font-size: 1.5em;
        font-weight: 700;
    }
    .contact-pg .footer .contact-msg h3 {
        font-size: 1.25em;
        font-weight: 500;
    }
    input, textarea, ::placeholder {
        font-size: 1em;
    }
}
@media only screen and (max-height: 599px) {
    input {
        font-size:1em;
        height:25px;
    }
    textarea{
        font-size:1em;
        height:125px;
    }
    ::placeholder {
        font-weight: 700;
        padding-left: 10px;
        font-size: 1em;
    }
    .input:focus { /* Clicked on contact form input */
        background-color: rgba(0, 0, 0, 0.5);
    }
    .submit-btn {
        font-size: 1.25em;
    }
}